* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-size: 16px;
}

main {
  margin: 0 auto;
  max-width: 1450px;
  padding-left: 20px;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.text {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 20px;
}

.image {
  max-width: 100%;
  margin-bottom: 20px;
}

/* staðsetur mynd */
.col__img {
  order: 1;
}

/* grid fyrir efni */

.grid__row {
  display: flex;
  flex-wrap: wrap;
  

  margin-left: -10px;
  margin-right: -10px;
  width: 100%;

  margin-bottom: 20px;
}

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}


/* grid fyrir cards */

.card {
  display: flex;
  flex-direction: column;

  width: 100%;
  overflow: hidden;

  background-color: #fff;
  border-bottom: 2px solid #aaa;

  padding-bottom: 20px;
}

.card__title {
  margin-top: 20px;
  margin-bottom: 20px;

  font-size: 1.5em;
  word-break: break-word;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__text {
  font-size: 1em;
  line-height: 1.375;
  overflow: auto;
  word-break: break-word;

  margin-bottom: 20px;
}

.card__img {
  width: 100%;
}

.card__tags {
  margin-top: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  list-style: none;
}

.card__tag {
  font-weight: bold;
  margin-right: 20px;
}

/***** Upphaf media (min-width: 700px) *****/
@media (min-width: 700px){
  .cards {
    margin-bottom: 40px;
  }
  .card {
    max-width: 470px;
    max-height: 300px;

    margin-bottom: 10px;
    padding: 10px;

    border: 2px solid #aaa;
    border-radius: 5px;
    
    height: 100%;
  }
  
  .card__content {
    flex-direction: row;
    flex: 1;
  }
  
  .card__title {
    margin-top: 0;
  }

  .card__image {
    padding-left: 20px;
    flex: 0 0 150px;
  }
  
  .card__img {
    max-width: 100%;
  }

  .card__tags {
    margin-top: 20px;
    align-content: flex-end;
  }

  .cards .grid__row .grid__col {
    width: 50%;
  }
}/***** Endir media (min-width: 700px) *****/


/***** Upphaf media (min-width: 1000px) *****/
@media (min-width: 1000px) {
  
  .grid__col {
    width: 50%;
  }

  /* staðsetur mynd */
  .col__img {
    order: 0;
  }
  
  .cards .grid__row .grid__col {
    width: 33.333333%;
  }
}
/***** Endir media (min-width: 1000px) *****/

/***** Upphaf media (min-width: 1490px) *****/
@media (min-width: 1490px){
}
/***** Endir media (min-width: 1490px) *****/
